@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@400;600;700&display=swap');
@import "tailwindcss";

@theme {
  /* Enzetti Brand Colors */
  --color-primary: #0f172a;
  /* Slate 900 */
  --color-primary-light: #334155;
  /* Slate 700 */

  --color-accent: #c2410c;
  /* Orange 700 */
  --color-accent-hover: #9a3412;
  /* Orange 800 */

  --color-background: #f8fafc;
  /* Slate 50 */
  --color-surface: #ffffff;

  /* Fonts */
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-primary font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}