@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  /* Estudio Enzetti Brand Colors */

  --color-primary: var(--color-zinc-600);
  --color-primary-light: var(--color-zinc-500);
  --color-primary-dark: var(--color-zinc-700);

  --color-accent: var(--color-red-600);
  --color-accent-light: var(--color-red-400);
  --color-accent-dark: var(--color-red-700);

  --color-background: var(--color-slate-50);
  --color-surface: var(--color-white);

  /* Fonts */
  --font-sans: "Inter", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-primary font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans;
  }
}