---
import { Image } from "astro:assets";
import logo from "../assets/logo.webp";
import WhatsApp from "../icons/WhatsApp.astro";
import Menu from "../icons/Menu.astro";

const navItems = [
  { name: "Nosotros", href: "#nosotros" },
  { name: "Servicios", href: "#servicios" },
  { name: "Proceso", href: "#proceso" },
  { name: "Reseñas", href: "#resenas" },
];
---

<header class="bg-white backdrop-blur-md shadow-sm sticky top-0 z-50">
  <div
    class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex justify-between items-center"
  >
    <a href="#inicio" class="flex items-center">
      <Image
        src={logo}
        alt="Estudio Enzetti"
        class="h-20 md:h-15 w-auto"
        quality="max"
      />
    </a>

    <nav class="hidden md:flex space-x-6 lg:space-x-8">
      {
        navItems.map((item) => (
          <a
            href={item.href}
            class="text-primary hover:text-accent transition-colors font-medium text-sm lg:text-base"
          >
            {item.name}
          </a>
        ))
      }
    </nav>

    <div class="flex items-center space-x-4">
      <a
        href="https://wa.me/5491143711602"
        target="_blank"
        rel="noopener noreferrer"
        class="hidden sm:block"
      >
        <button
          class="bg-accent hover:bg-accent-dark text-white px-5 py-2 rounded-lg font-bold transition-all duration-300 transform hover:scale-105 text-sm lg:text-base flex items-center gap-2 cursor-pointer"
        >
          <WhatsApp class="w-5 h-5" />
          Consulta Gratuita
        </button>
      </a>

      <!-- Mobile Menu Button -->
      <button
        id="open-menu"
        class="md:hidden text-primary p-2 cursor-pointer relative z-10"
        aria-label="Menu"
      >
        <Menu />
      </button>
    </div>
  </div>
</header>
